.view_orders {
	margin: 0 auto;
	margin-top: 5%;
	width: 75%; 
	padding: 2%;
	padding-bottom: 5px;
	color: white;
	background: #333;
	max-width: auto;
	border-radius: 15px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 10%;
	opacity: 0.95;
}

.view_orders a {
	color: Gold;
}

.view_orders #list_of_orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}

.view_orders #list_of_orders {
	border-collapse: collapse;
	width: 100%;
}