<h1>Japanese Cuisine</h1>

<h2><u>Starters</u></h2>

<h3><u>Soup</u></h3>
<ul>
	<% @food.where(:mealType => 'soup').each do |soup| %>
		<li><%= soup.name %></li>
	<% end %>
</ul>

<br>

<br>

<%= link_to 'Back', menu_path %>