<h1>Please select a cuisine:</h1>

<ul>
	<li><%= link_to t('menu.cuisine.cn'), '/menu/cn' %></li>
	<li><%= link_to t('menu.cuisine.jp'), '/menu/jp' %></li>
	<li><%= link_to t('menu.cuisine.kr'), '/menu/kr' %></li>
</ul>
    
<br>
