<div class="menu">
	<h1>Please select a cuisine:</h1>

	<ul>
		<li><%= link_to t('menu.cuisine.cn'), menu_cn_path %></li>
		<li><%= link_to t('menu.cuisine.jp'), menu_jp_path %></li>
		<li><%= link_to t('menu.cuisine.kr'), menu_kr_path %></li>
	</ul>
	    
	<br>
</div>
