.cuisine_form {
	margin: 0 auto;
	margin-top: 5%;
	width: 50%; 
	padding: 2%;
	padding-bottom: 5px;
	color: white;
	background: #333;
	max-width: auto;
	border-radius: 15px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 10%;
}


/*
 * MENU BUTTON STYLES
 */
.cuisine_form .menu_button {
	background-color: #333;
	opacity: 0.95;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	outline-width: 0px;
	font-size: 25px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	display: inline-block;
	margin-bottom: 30px;
}

.cuisine_form #submit_button {
	float: right;
	padding: 10px;
}

.cuisine_form #back_button {
	float: left;
	padding: 10px;
	text-decoration: none;
}

.cuisine_form #submit_button:hover, #back_button:hover {
	background-color: #404040;
}

.buttons {
	margin-bottom: 10%;
}


/*
 * ACCORDION TOGGLE STYLES
 */
.appetizers-toggle:hover,
.maincourse-toggle:hover, 
.main_chicken-toggle:hover,
.main_veg-toggle:hover,
.main_seafood-toggle:hover,
.main_rice-toggle:hover,
.main_noodles-toggle:hover,
.dessert-toggle:hover,
.beverage-toggle:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: white;
}

.maincourse-toggle, .dessert-toggle, .beverage-toggle {
	padding-top: 15px;
}


/*
 * ACCORDION STYLES
 */
.apt-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.apt-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 1500px;
}

.main-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.main-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 2100px;
}

.mc-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.mc-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.mveg-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.mveg-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.msea-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.msea-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.mrice-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.mrice-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.mn-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.mn-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.des-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.des-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
}

.bev-accordion {
	opacity: 0;
	background: #333;
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
	color: white;
}

.bev-accordion.open {
	opacity: 1;
	padding: 10px;
	max-height: 700px;
	margin-bottom: 20px;
}


/*
 * FOOD ITEM STYLES
 */
.cuisine_form .food_items {
	text-align: left;
}

.cuisine_form .food_selected {
	width: 25px;
	height: 25px;
	float: right;
}

.cuisine_form .lblQuantity {
	font-size: 12px;
}

.cuisine_form .food_quantity {
	font-weight: bold;
}

.cuisine_form #food_details {
	padding-right: 100px;
}