.menu {
	padding: 10px;
	padding-top: 50px;
}

.cuisines {
	display: inline-block;
	margin: 0 auto;
	width: auto;
	margin-left: 20%;
	padding: 10px;
	background-color: #333;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.85;
	color: white;
}

.cuisines a {
	padding: 15px;
}

.cuisines h1 {
	color: white;
}

.country {
	display: inline-block;
}

.country p {
	text-align: center;
}
