<div class="order_confirmation">

	<h1>Order Confirmation</h1>

	<hr>

	Your order is now in the kitchen and will be with you shortly. <br><br>

	<u>Delivery Address</u> <br>
	<b><%= @order.delivery_address %></b> <br><br>

	You will receive a call on the number you have provided: <b><em><%= @order.contact_number %></em></b>, 
	when the driver is nearby to your location. <br><br>

	<hr>

	If you have not already registered and would like to, click the link below: <br>
	<%= link_to t('main.navigation.register'), register_path, :id => "register_button" %> <br>

	Once registered, you will be able to store all your future orders for viewing
	as well as being able to re-order them. <br><br>

	We thank you for choosing to dine with Kenpachi and do hope you enjoy your meal. <br><br>
</div>