<div class="order_confirmation">
	Your order is now in the kitchen and will be with you shortly. <br><br>

	<u>Delivery Address: -</u>
	<li id="delivery_address">
		<b><%= @order.delivery_address %></b>
	</li> 
	<br>

	You will receive a call on the number you have provided: <b><em><%= @order.contact_number %></em></b>, 
	when the driver is nearby to your location. <br><br>

	We thank you once again for choosing to dine with Kenpachi and do hope you enjoy your meal.
</div> <br>