<div class="order_confirmation_new">
	Your order is now in the kitchen and will be with you shortly. <br><br>

	<u>Delivery Address: -</u>
	<li>
		<b><%= @order.delivery_address %></b>
	</li> <br>

	You will receive a call on the number you have provided: <b><em><%= @order.contact_number %></em></b>, 
	when the driver is nearby to your location. <br><br>

	If you have not already registered and would like to, you may do so here:
	<%= link_to t('main.navigation.register'), register_path %> <br><br>

	Once registered, you will be able to view all your previous orders
	as well as be able to re-order them. <br><br>

	We thank you for choosing to dine with Kenpachi and do hope you enjoy your meal.
</div>