/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { 
	font-family: Arial, Helvetica, sans-serif;
}

body, .slider {

	margin: 0;
	background-image: url(Slide_1);
	background-size: cover;
	-webkit-animation: slide 25s infinite;
	-moz-animation: slide 25s infinite;
	animation: slide 25s infinite;
}

@-webkit-keyframes slide{
	25%{
		background-image: url(Slide_2);
		background-size: cover;
	}

	50%{
		background-image: url(Slide_3);
		background-size: cover;
	}

	75%{
		background-image: url(Slide_4);
		background-size: cover;
	}

	100%{
		background-image: url(Slide_1);
		background-size: cover;
	}
}

@-moz-keyframes slide{
	25%{
		background-image: url(Slide_2);
		background-size: cover;
	}

	50%{
		background-image: url(Slide_3);
		background-size: cover;
	}

	75%{
		background-image: url(Slide_4);
		background-size: cover;
	}

	100%{
		background-image: url(Slide_1);
		background-size: cover;
	}
}

@keyframes slide{
	25%{
		background-image: url(Slide_2);
		background-size: cover;
	}

	50%{
		background-image: url(Slide_3);
		background-size: cover;
	}

	75%{
		background-image: url(Slide_4);
		background-size: cover;
	}

	100%{
		background-image: url(Slide_1);
		background-size: cover;
	}
}

